---
layout: default
title: Steve Milburn
---

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Recent Posts</h2>
                    <div class="content">
                        {% for post in site.posts %}
                            <div class="item">
                                <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                <span class="text-muted"><i class="fa fa-calendar"></i> {{ post.date | date_to_long_string }}</span>
                                <p class="summary">{{ post.excerpt }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            {% include about.html %}

            {% include latestProjects.html %}

            {% include tweets.html %}
        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->
