 <aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            I'm a web developer currently focusing on JavaScript stacks with Node.js and React. I currently
            live in Cumberland, MD with my wife and 3 kids. If you are looking for a web developer to help
            on a project, or are looking for a new team member, let's talk!
            <p><a href="/about">more...</a></p>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
