<aside class="education aside section">
  <div class="section-inner">
      <div class="content">
        <div class="text-center">
          <img src="/assets/images/ca_logo.png" height="65"/><br />
          Monitor cron jobs and scheduled tasks with <strong>CronAlarm</strong> and receive alerts when there are problems. No more silent failures!<br />
          <a href="https://www.cronalarm.com">Check it out!</a>
        </div>        
      </div><!--//content-->
  </div><!--//section-inner-->
</aside><!--//section-->

