<footer id="colophon" class="site-footer">
  <div class="footer-columns clear">
    <div class="container clear">
      <div class="footer-column footer-column-1">
        <div class="text-2 widget footer-widget widget_text">
          <a
            href="https://twitter.com/stvmlbrn?ref_src=twsrc%5Etfw"
            class="twitter-follow-button"
            data-size="large"
            data-show-count="false"
            >Follow @stvmlbrn</a
          ><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="footer-column footer-column-2">
        <div id="recent-posts-3" class="widget footer-widget widget_recent_entries">
          <h3 class="widget-title">Recent Posts</h3>
          <ul>
            {% for post in site.posts limit:4 %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="footer-column footer-column-3">
        <div id="categories-3" class="widget footer-widget widget_categories">
          <h3 class="widget-title">Popular Posts</h3>
          <ul>
            {% for post in site.posts %} {% if post.popular %}
            <li>
              <a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
      <div class="footer-column footer-column-4">
        <!--
        <div id="search-3" class="widget footer-widget widget_search">
          <h3 class="widget-title">Search</h3>
          <form action="" class="search-form">
            <label>
              <span class="screen-reader-text">Search for:</span>
              <input type="search" placeholder="Search..." class="search-field">
            </label>
            <input type="submit" class="search-submit" value="Search">
          </form>
        </div> -->
      </div>
    </div>
  </div>
  <div class="clear">
    <div id="site-bottom" class="clear">
      <div class="container">
        <div class="site-info">&copy; Steve Milburn</div>
        <div class="menu-primary-menu-container">
          <ul id="footer-menu" class="footer-nav">
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="/">Home</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="/about">About</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
