<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">Latest Projects</h2>
        <div class="content">
            <div class="skillset">

                <div class="item">
                    <h3 class="level-title"><a href="https://www.cronalarm.com" target="_blank">CronAlarm</a></h3>
                    A service for monitoring cron jobs and scheduled tasks and sending alerts when they fail.
                </div><!--//item-->

                <div class="item">
                    <h3 class="level-title"><a href="https://github.com/stvmlbrn/mysql-backup" target="_blank">MySQL Backup to S3</a></h3>
                    A node.js script for backing up MySQL databases and uploading them to Amazon S3
                </div><!--//item-->

                <div class="item">
                  <h3 class="level-title"><a href="http://mlb-hack.stvmlbrn.com" target="_blank">TruMedia MLB Hackathon</a></h3>
                  My entry to the 2017 TruMedia Networks MLB Hackathon
                </div>
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->
