<aside class="education aside section" style="margin-top: 20px">
    <div class="section-inner">
        <h2 class="heading">Most Recent</h2>
        <div class="content">
          {% for post in site.posts limit:4 %}
            <div class="sidebarLinkDiv">
              <div class="sidebarLinkText">
                <a href="{{ post.url }}">
                  <img src="/assets/images/{{ post.icon }}" class="smallTitleIcon" />{{ post.title }}
                </a>
              </div>
            </div>
          {% endfor %}
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->

