<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Popular Posts</h2>
        <div class="content">
          <div class="sidebarLinkDiv">
            <div class="sidebarLinkText">
              <a href="{{ site.url }}/2017/12/17/upload-files-using-react-to-node-express-server.html">
                <img src="/assets/images/javascript.png" class="smallTitleIcon" /> How To Upload Files With React To A Node/Express Server
              </a>
            </div>
          </div>
          <div class="sidebarLinkDiv">
            <div class="sidebarLinkText">
              <a href="{{ site.url }}/2017/04/07/submitting-form-data-with-react.html">
                <img src="/assets/images/react.png" class="smallTitleIcon" /> Submitting Form Data With React
              </a>
            </div>
          </div>
          <div class="sidebarLinkDiv">
            <span class="sidebarLinkText">
              <a href="{{ site.url }}/2017/10/14/display-loading-indicator-in-react-during-ajax-requests.html">
                <img src="/assets/images/react.png" class="smallTitleIcon" /> Display A 'Loading' Indicator In React During Ajax Requests
              </a>
            </span>
          </div>
          <div class="sidebarLinkDiv">
            <span class="sidebarLinkText">
              <a href="{{ site.url}}/2018/01/13/maintain-multiple-configurations-and-secrets-in-node-apps.html">
                <img src="/assets/images/node.png" class="smallTitleIcon" /> Maintain Environment Configurations and Secrets in Node.js Apps
              </a>
            </span>
          </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->

