<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Popular Posts</h2>
        <div class="content">
          <a href="{{ site.url }}/2017/04/07/submitting-form-data-with-react.html">
            Submitting Form Data With React
          </a>
          <p>
            <hr />
          </p>
          <a href="{{ site.url }}/2017/10/14/display-loading-indicator-in-react-during-ajax-requests.html">
            Display A 'Loading' Indicator In React During Ajax Requests
          </a>
          <p>
            <hr />
          </p>
          <a href="{{ site.url }}/2016/12/01/search-and-split-pdf-files-with-node.html">
            Search And Split PDF Files With Node.js
          </a>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->

