<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Popular Posts</h2>
        <div class="content">
          {% for post in site.posts %}
            {% if post.popular %}
              <div class="sidebarLinkDiv">
                <div class="sidebarLinkText">
                  <a href="{{ site.url }}/{{ post.url }}">
                    <img src="/assets/images/{{ post.icon }}" class="smallTitleIcon" />
                    {{ post.title }}
                  </a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->

