---
layout: default
title: About Me
---

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>
              Hi, I'm Steve. I like to write code.
            </p>
            <p>
              I started out in the world of technology in the late 1990s as a computer technician and network support engineer. I enjoyed the work, and for the most part still do whenever it comes up, but I quickly
              began to realize that software is what makes the world go around. So, I started studying programming and began writing code. The early days were desktop applications written mostly in Visual Basic before
              moving on to the web with the early versions of ColdFusion.
            </p>
            <p>
              After realizing I wanted to write software for a living, somewhere around 2002, I decided to go back to school and obtain a Master's degree in Computer Science. At that time I was a 100% self-taught developer and felt
              that a formal education would help me in some areas where my self-education may be lacking. I completed the Master's degree in 2007.
            </p>
            <p>
              These days I'm focusing on JavaScript platforms with Node.js and React.js but I'm always willing and eager to learn new stacks.
              I'll never be mistaken as a designer but I do enjoy working
              on all layers of the web application stack including front-end code, server APIs,
              database design/development, server administration, and so on.
            </p>
            <p>
              If you or your team needs some help or are looking for a new team member and think I may be a good fit, I'd love to talk about it.
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      {% include latestProjects.html %}
      {% include tweets.html %}
    </div>
  </div>
</div>

