---
layout: default
title: About Me
---

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">About Me</h2>
          <div class="content">
            <p>
              Hi, I'm Steve. I like to write code.
            </p>
            <p>
              I started out in the world of technology in the late 1990s as a computer technician and network support engineer. I enjoyed the work, and for the most part still do whenever it comes up, but I quickly
              began to realize that software is what makes the world go around. So, I started developing desktop applications with Visual Basic before moving to the web and began using ColdFusion. It was then I realized
              that developing web applications is what I enjoy the most.
            </p>
            <p>
              After realizing I wanted to write software for a living, somewhere around 2002, I decided to go back to school and obtain a Master's degree in Computer Science (I already had Bachelor degrees in History
              and Philosophy. The plan was to be a teacher - but fate had other plans!). At that time I was a 100% self-taught developer and felt
              that a formal education would help me in some areas where my self-education may be lacking. I completed my Master's degree in 2007.
            </p>
            <p>
              I'm currently focusing on JavaScript platforms with Node.js and React.js. I'll never be mistaken as a designer but I do enjoy working on all areas of the stack, including front-end code, server APIs,
              database design/development, server administration, and so on. If you or your team needs some help and think I may be a good fit, I'm certainly interested in talking about it.
            </p>
            <p>
              I currently live in Cumberland, MD with my wife and 3 sons.
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      {% include latestProjects.html %}
      {% include tweets.html %}
    </div>
  </div>
</div>

