---
layout: default
title: Thank You!
---

<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <section class="projects section">
        <div class="section-inner">
          <h2 class="heading">Thank You!</h2>
          <div class="content">
            <p>
              Thanks for reaching out!
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class="secondary col-md-4 col-sm-12 col-xs-12">
      {% include latest_post.html %}
      {% include popular_posts.html %}
    </div>
  </div>
</div>

