<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body>
  <div id="page" class="site">
    {% include masthead.html %}

    <div id="content" class="site-content container clear">
      <div id="primary" class="content-area clear">
        {{ content }}
      </div>
      <aside id="secondary" class="widget-area sidebar">
          <div id="recent-posts-2" class="widget widget_recent_entries">
            <h2 class="widget-title">Popular Posts</h2>
            <ul>
              {% for post in site.posts %}
                {% if post.popular %}
                  <li>
                    <a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

          {% include sideBlockAd.html %}

          <!--
          <div id="search-2" class="widget widget_search">
            <form action="" class="search-form">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search...">
              </label>
              <input type="submit" value="Search" class="search-submit">
            </form>
          </div>
        -->

          <div id="recent-posts-2-test" class="widget widget_recent_entries">
              <h2 class="widget-title">Recent Posts</h2>
              <ul>
                {% for post in site.posts limit:4 %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          <!-- <div id="tag_cloud-2" class="widget widget_tag_cloud">
            <h2 class="widget-title">Tags</h2>
            <div class="tagcloud">
              <a href="/" class="tag-cloud-link tag-link-16 tag-link-position-1">React</a>
              <a href="/" class="tag-cloud-link tag-link">Node</a>
              <a href="/" class="tag-cloud-link tag-link">JavaScript</a>
              <a href="/" class="tag-cloud-link tag-link">Express</a>
            </div>
          </div> -->
        </aside>
    </div>



    {% include footer.html %}

  </div>
</body>
</html>

