<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta name="google-site-verification" content="IvndBsIBQasLEJ0UrOzBTZK2gXgJ4f4JLBSJuhVN3IE" />
    {% include head.html %}
</head>

<body>
    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <!-- <img class="profile-image img-responsive pull-left" src="assets/images/051.jpg" alt="Steve Milburn" /> -->
            <div class="profile-content pull-left">
                <h1 class="name">Steve Milburn</h1>
                <h2 class="desc">&lt;Web Developer /&gt;</h2>
                <ul class="social list-inline">
                  <li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
                  <li><a href="https://twitter.com/{{ site.twitter_username}}" target="_blank" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="nofollow" class="github"><i class="fa fa-github-alt"></i></a></li>
                </ul>
            </div><!--//profile-->
            <!-- <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              -->
        </div><!--//container-->
    </header><!--//header-->

    {{ content }}

    <!-- ******FOOTER****** -->
    {% include footer.html %}
</body>
</html>

