<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    {% include head.html %}
  </head>

  <body class="post-template-default single single-post single-format-standard">
    <div id="page" class="site">
      {% include masthead.html %}

      <div id="content" class="site-content container clear">
        <div id="primary" class="content-area">
          <main id="main" class="site-main">
            <article class="post type-post status-publish format-standard hentry">
              <header class="entry-header">
                <h1 class="entry-title">
                  <img src="/assets/images/{{ page.icon }}" /> {{ page.title }}
                </h1>
                <div class="entry-meta">
                  <!--<span class="entry-author"><?php the_author_posts_link(); ?></span>  -->
                  <span class="entry-date">{{ page.date | date_to_long_string }}</span>
                  <!--<span class="entry-comment"><?php comments_popup_link( __('Leave a Comment','revenue'), __('1 Comment', 'revenue'), '% Comments', 'comments-link', __('comments off', 'revenue'));?></span>-->
                </div>
              </header>
              <div class="entry-category">
                <span class="tag-links"> {% include tags.html %} </span>
              </div>
              <div
                class="sharethis-inline-share-buttons"
                style="padding-top:5px; padding-bottom:15px;"
              ></div>
              <div class="entry-content">{{ content }}</div>

              {% include comments.html %}
            </article>
          </main>
        </div>
        <aside id="secondary" class="widget-area sidebar">
          <div id="recent-posts-2" class="widget widget_recent_entries">
            <h2 class="widget-title">Popular Posts</h2>
            <ul>
              {% for post in site.posts %} {% if post.popular %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>

          {% include sideBlockAd.html %}

          <!--
        <div id="search-2" class="widget widget_search">
          <form action="" class="search-form">
            <label>
              <span class="screen-reader-text">Search for:</span>
              <input type="search" class="search-field" placeholder="Search...">
            </label>
            <input type="submit" value="Search" class="search-submit">
          </form>
        </div>
      -->

          <div id="recent-posts-2-test" class="widget widget_recent_entries">
            <h2 class="widget-title">Recent Posts</h2>
            <ul>
              {% for post in site.posts limit:4 %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
