<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  {% include head.html %}
</head>

<body>
    <!-- ******HEADER****** -->
    <section>
      <header class="header">
          <div class="container">
              <!-- <img class="profile-image img-responsive pull-left" src="assets/images/051.jpg" alt="Steve Milburn" /> -->
              <div class="profile-content pull-left">
                  <h1 class="name">Steve Milburn</h1>
                  <h2 class="desc">&lt;Web Developer /&gt;</h2>
                  <ul class="social list-inline">
                    <li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
                    <li><a href="https://twitter.com/{{ site.twitter_username}}" target="_blank" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="nofollow" class="github"><i class="fa fa-github-alt"></i></a></li>
                  </ul>
              </div><!--//profile-->
              <!-- <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              -->
          </div><!--//container-->
      </header><!--//header-->
    </section>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="projects section">
                    <div class="section-inner">
                        <h1 class="heading">
                            {{ page.title }}<br/>
                            {% if page.subtitle %}
                              <small>{{ page.subtitle }}</small>
                              <br>
                            {% endif %}
                          <small>
                            <i class="fa fa-calendar"></i> {{ page.date | date_to_long_string}}
                          </small>
                        </h1>
                        {% include tags.html %}
                        <p>
                        {{ content }}
                        </p>
                        <hr>
                        <h4>Thanks for reading!</h4>
                        If you found this post useful or have any other feedback,
                        <a href="https://www.twitter.com/stvmlbrn" rel="nofollow" class="alert-link" target="_blank">hit me up on  Twitter</a>
                        or leave a comment below. I'd love to hear from you!
                        <hr>
                        <h4><i class="fa fa-share"></i> Share this post</h4>
                        <div class="sharethis-inline-share-buttons"></div>
                        <hr/>
                    </div>
                </section>

                {% if page.comments %}
                  <section class="projects section">
                    <div class="section-inner">
                        <div id="disqus_thread"></div>
                    </div>
                  </section>

                  <script>
                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                  /*
                  var disqus_config = function () {
                  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  */
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = '//stvmlbrn.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}
            </div>

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
              {% include about.html %}

              {% include latestProjects.html %}

              {% include tweets.html %}
          </div><!--//secondary-->
        </div>
    </div>

    <!-- ******FOOTER****** -->
    {% include footer.html %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('pre').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      });
    </script>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a26f5a031a4050013671418&product=sticky-share-buttons"></script>
    <script id="dsq-count-scr" src="//stvmlbrn.disqus.com/count.js" async></script>
</body>
</html>

